#Heading1 {
color: #aba00f ;
}
#HGG 
{
width: 450px ;
}
body {
text-align: center ;
}
#HJP {
width: 450px ;
}
#RAW {
width: 450px ;
}
#GWW {
width: 450px ;    
}
#LL {
width: 450px ;
}
#NL {
width: 450px ;
}